.main-template-container {
    background-color: #e8eff7; /* Soft pale blue-gray background for the whole page */
    height: calc(100vh - 100px); /* Adjust height to exclude the navbar (replace 60px with the height of your navbar) */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif;
    overflow-y: auto; /* Add scrolling if needed */
    
    padding-bottom: 10cap;
  }
  
  .main-template-content {
    background-color: #edf7f6; /* Soft pastel teal */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Softer shadow for more depth */
    padding: 24px; /* Padding for inner spacing */
    width: 90%; /* Responsive width */
    font-size: 1rem; /* Base font size */
    color: #2f2f2f; /* Dark gray text color */
    margin-top: 20px;
    margin-bottom: 60px; /* Add margin to prevent overlapping with navbar */
  }
  