/* General styles */
.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f8f9fa; /* Light background */
}

.content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 40px;
    background-color: #fff; /* White content background */
    
    margin-bottom: 3%;
}

/* Bottom Navigation */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e9ecef; /* Light gray background */
    border-top: 1px solid #ced4da; /* Light border */
    
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.bottom-nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #6c757d; /* Neutral text color */
    font-size: calc(10+ 1vw); /* Responsive font size */
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
    padding: 1px;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    margin: 2px;
    
}

.bottom-nav-item:hover {
    background-color: #007bff; /* Blue background on hover */
    color: white;
}

.bottom-nav-item.active {
    background-color: #007bff; /* Blue background for active */
    color: white;
    font-weight: bold; /* Bold text for active state */
}

.bottom-nav-item span {
    margin-top: 5px;
    font-size: calc(8px + 1vw); 
}

.nav-icon {
    font-size: calc(20px + 4vw); /* Responsive icon size */
    margin-bottom: 5px;
}


@media (min-width: 600px) {
    .bottom-nav-item span {
        font-size: calc(18px + 1vw); /* Slightly smaller for larger screens */
    }
    .nav-icon {
        font-size: calc(30px + 1.5vw);
    }
}

@media (min-width: 1200px) {
    .bottom-nav-item span {
        font-size: calc(13px + 0.7vw); /* Even smaller for ultra-large screens */
    }
    .nav-icon {
        font-size: calc(5px + 2vw);
    }
}